.bg-img {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.day {
  background-image: url("../assets/tablet/bg-image-daytime.jpg");
}

@media (min-width: 768px) {
  .day {
    background-image: url("../assets/tablet/bg-image-daytime.jpg");
  }
}

@media (min-width: 1024px) {
  .day {
    background-image: url("../assets/desktop/bg-image-daytime.jpg");
  }
}

.night {
  background-image: url("../assets/mobile/bg-image-nighttime.jpg");
}

@media (min-width: 768px) {
  .night {
    background-image: url("../assets/tablet/bg-image-nighttime.jpg");
  }
}

@media (min-width: 1024px) {
  .night {
    background-image: url("../assets/desktop/bg-image-nighttime.jpg");
  }
}

.img-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
