.bgContainer {
  background: #979797;
  opacity: 0.9;
  padding: 50px 30px;
}

.bgContainer.night {
  background: black;
  opacity: 0.75;
  color: white;
}

.group {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.group > h6 {
  font-weight: normal;
}

.groupLast {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .bgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .groupContainer {
    display: flex;
    flex-direction: column;
  }

  .group {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .groupContainer:first-child {
    border-right: 1px solid #303030;
  }

  .bgContainer.night .groupContainer:first-child {
    border-right: 1px solid white;
  }

  .group {
    width: 80%;
  }

  .groupContainer {
    width: 50%;
    align-items: center;
  }
}
